

  <div class="middleofpage">
    <h1 style="display:absolute; margin-left: 850px; margin-top:30; padding-top:50px;"> Your Flat: <%=@flat.title%> </h1>
    <div class="flat-card">
      <div class="informationbox" style="margin-left:50px;">
        &#9432; Information.
        <p>
          <strong>Title of Flat:</strong>
          <%= @flat.title %>
        </p>
        <p>
          <strong>Address:</strong>
          <%= @flat.address %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @flat.description %>
        </p>
        <p>
          <strong>Price/ Night:</strong> $
          <%= @flat.price %>
      </div>
    </div>
    <%= simple_form_for [@flat, @booking] do |f| %>
      <%= f.input :start_date, as: :date %>
      <%= f.input :end_date, as: :date %>
      <%= f.button :submit, "Book now" %>
    <% end %>

    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
