
<body>
  <div class="middle of page" style="display:relative;">
    <div>
      <h1 style="display:absolute; margin-left: 850px; margin-top:30; padding-top:50px;"> Your Flat: <%=@flat.title%> </h1>
    </div>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1469796466635-455ede028aca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80); margin-top:80px; height:70vh; background-size:cover; opacity:0.7; ">
    <div style="background: ghostwhite; font-size: 16px; padding: 5px; border: 1px solid lightgray; margin: 150px; width:325px; height: 250px; border-radius:25px; padding-left:10px; ">
      &#9432; Information.
        <p>
        <strong>Title of Flat:</strong>
        <%= @flat.title %>
      </p>

        <p>
        <strong>Address:</strong>
        <%= @flat.address %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @flat.description %>
      </p>

      <p>
        <strong>Price/ Night:</strong> $
        <%= @flat.price %>
      </p>

      <a href="" style="color:black;"> <strong> Reviews </strong>
      </p>
    </div>
  </div>

</body>
<!-- Middle of page  done -- >
# can add reviews on the bottom of page
# below the main picture in the image, can create a list of pictures automatically changing.


<1!-- Footer begins -->

