
<body>
  <div class="middleofpage">
    <div>
      <h1 style="display:absolute; margin-left: 850px; margin-top:30; padding-top:50px;"> Your Flat: <%=@flat.title%> </h1>
    </div>
    <div class="card">
      <div id="hi">
        <div class="informationbox">
          &#9432; Information.
          <p>
            <strong>Title of Flat:</strong>
            <%= @flat.title %>
          </p>
          <p>
            <strong>Address:</strong>
            <%= @flat.address %>
          </p>
          <p>
            <strong>Description:</strong>
            <%= @flat.description %>
          </p>
          <p>
            <strong>Price/ Night:</strong> $
            <%= @flat.price %>
          </p>
          <a href="" style="color:black;"> <strong> Reviews </strong>
          </p>
        </div>

        <div class="pricebox">

          <form action="reservation.php" method="post" >
            <div class="elem-group-inlined">
              <label for="adult"> <strong> Guests </strong></label>
              <input type="number" id="adult" name="total_adults" placeholder="2" min="1" required>
            </div>

            <div class="elem-group-inlined">
              <label for="checkin-date" style="padding-bottom: 22px; margin-left: 10px;"> <strong> Check-in Date </strong></label>
              <input type="date" id="checkin-date" name="checkin" required>
            </div>

            <div class="elem-group-inlined">
              <label for="checkout-date" style="padding-bottom: 30px;">  <strong>Check-out Date </strong></label>
              <input type="date" id="checkout-date" name="checkout" required>
            </div>
            <div>
              <button type="submit" style="padding: 20px; margin-left: 70px; border-radius:20px; background-color:black; color:white; font-weight:bolder;">Book The Flat</button>
            </div>

          </form>



        </div>
          <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>
    </div>
  </div>
</body>
