<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="background-user-profile">
  <div class="container">
    <div class="user-box">
      <div class="user-card" style="background-color:whitesmoke;">
        <img src="https://philberk.github.io/profile/profilepic.jpeg">
        <h3>Turkish Menace</h1>
        <p class=“title”>CEO & Founder, Example</p>
        <p>Harvard University</p>
        <p>About Me: A moth goes into a podiatrist’s office, and the podiatrist’s office says,  fairytale and a southern fairytale?  "Once upon a time ..." A southern fairytale begins "Y'all ain't gonna believe this shit ..."
        <p><button style="border-radius:50px;">Contact</button></p>
      </div>
    </div>
    <div class="user-bookings">
      <h2>Pending Bookings</h2>
      <h2>Accepted Bookings</h2>
      <h2>Rejected Bookings</h2>
    </div>

  </div>
</div>









<div class="confirmed booking">
    <%= current_user.flats  %> - <%= current_user.received_bookings %> - <%= current_user.bookings %>
    <% current_user.received_bookings.each do |booking| %>
      <%= link_to "confirm booking", change_status_booking_path(booking, status:"accepted"), method: :patch %>
       <%= link_to "reject booking", change_status_booking_path(booking, status:"rejected"), method: :patch %>
       <% end %>
    <!-- current_user.flats shows the listings you created as a user. Received_bookings will show who sent request for your flat.-->
    <!-- this is a button that should be named confirm booking that will change the result to accepted-->
    <!-- reject button-->
</div>


<!-- for each booking, do a loop that will give you the option to reject or accept-->
