<nav class="bg-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">
        <div class="flex space-x-7">
          <div>
            <a class="flex items-center py-4 px-2" href="#">
              <img class="h-8 w-8 mr-2" src="app/assets/images/house.png" alt="">
              <span class="text-gray-500 font-semibold text-lg hover:text-green-500">Miami Luxury Homes</span>
            </a>
          </div>
        <div class="hidden sm:flex justify-end space-x-1 md:flex items-center space-x-1">
          <%= link_to "Home", root_path, class:"py-4 px-2 text-gray-500 border-transparent hover:text-green-500 hover:border-green-500 border-b-4 transition-duration-300 font-semibold sm:px-1"%>
          <% if !user_signed_in? %>
              <%= link_to "Log In", new_user_session_path, class:"py-4 px-2 text-gray-500 border-transparent hover:text-green-500 hover:border-green-500 border-b-4 transition-duration-300 font-semibold sm:px-1" %>

              <%= link_to "Sign Up", new_user_registration_path, class:"py-4 px-2 text-gray-500 border-transparent hover:text-green-500 hover:border-green-500 border-b-4 transition-duration-300 font-semibold sm:px-1"%>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to "My Profile", user_path(current_user), class:"py-4 px-2 text-gray-500 font-semibold border-transparent hover:text-green-500 hover:border-green-500 border-b-4 transition-duration-300"%>
            <%= link_to "Settings", edit_user_registration_path(current_user), class:"py-4 px-2 text-gray-500 font-semibold border-transparent hover:text-green-500 hover:border-green-500 border-b-4 transition-duration-300" %>
            <%= link_to "Log Out", destroy_user_session_path, class:"py-4 px-2 text-gray-500 font-semibold border-transparent hover:text-green-500 hover:border-green-500 border-b-4 transition-duration-300", method: :delete %>
          <% end %>
          <a class="py-4 px-2 text-gray-500 font-semibold border-transparent hover:text-green-500 hover:border-green-500 border-b-4 transition-duration-300 sm:px-1" href="#">Contact Us</a>
        </div>
      </div>
      </div>
    </div>
  </nav>
